<h1>Edit <%= @bookshelf.name %></h1>

<form action="/bookshelves/<%=@bookshelf.id %>" method="POST">
  <label> Bookshelf Name </label>
  <input type="text" name="name" value="<%=@bookshelf.name %>"> </br>

  <label> Bookshelf Color </label>
  <input type="text" name="color" value="<%=@bookshelf.color %>"> </br>
  <input type="submit" value="Update">
</form>

 <p><form action="/bookshelves/<%=@bookshelf.id%>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Bookshelf">
  </form></p>
</div>