<h1>Edit <%= @book.name %></h1>

<form action="/books/<%=@book.id %>" method="POST">
<input type="hidden" name="_method" value="PATCH">

  <label> Book Name </label>
  <input type="text" name="name" value="<%=@book.name %>"> </br>

  <label> Book Author </label>
  <input type="text" name="author" value="<%=@book.author%>"> </br>

  <div class="form-group">
  <strong><u>What Bookshelf Does This Go On?</u></strong>:<br>
    <% current_user.bookshelves.each do |bookshelf| %>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="bookshelf[bookshelf_ids][]" value="<%=bookshelf.id%>">
          <%=bookshelf.name%>
        </input>
      </label>
    </div>
    <% end %>
  </div>

  <input type="submit" value="Update">
</form>

 <p><form action="/books/<%=@book.id%>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Book">
  </form></p>
</div>