 <%= @book.name %><br />
  <%= @book.author %> <br />
  Shelf: <a href="/bookshelves/<%=@book.bookshelf.id%>"><%= @book.bookshelf.name %></a> <br />
  <a href="/books/<%=@book.id%>/edit">Edit</a>
  <br />
  <br />